.portfolio-filter-gallery {
  input[type="radio"] {
    &:checked {
      & + label {
        color: var(--clr-primary);
      }
    }
  }
  label {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
  }
}
